@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

html,body{
  width:100%;
  height: auto;
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color:#303133;
}

a{
  text-decoration: none;
  color:#303133;
  transition: .15s;
}

a:hover{
    color:red;
}

p{
  letter-spacing: .3px;
  line-height: 1.8;
}

h1{font-size: 3em;}
h2{font-size: 1.9em;font-weight: 500;font-family: 'Montserrat', sans-serif;}
h3{font-size: 1.3em;font-weight: 500;font-family: 'Montserrat', sans-serif;padding:0;}

img{
  width: 100%;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  font-weight: 900;
}

@media only screen and (max-width: 600px) {
  .boks{
    padding: 50px;
    text-align: center;
  }
  .rad{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .kolonne{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
  }

  .galleri{
    display: flex;
    flex-wrap: nowrap;
  }.galleri .bilde{
    flex:100%;
  }
}

.bold{font-weight: bold;}
.lys{color:#fff;}
.left_align{text-align: left;}
.right_align{text-align: right;}
.center_align{text-align: center;}

.liste{
  padding: 0;
  line-height: 1.8;
  list-style: none;
}

.linje_rad{
  border-bottom: 1px solid #303133;
  display: flex;
  justify-content: space-between;
}


#home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#home .logo_box img{
  max-height: 150px;
  width: auto;
}

#home ul.meny{
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#home ul.meny li{
  padding: 0 20px;
}


#top_banner .banner{
 width: 100%;
 vertical-align: top;
}

.boks{
  padding: 100px 150px;
  text-align: center;
}

.rad{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.kolonne{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 30px;
}

.galleri{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleri .bilde{
  flex: 1;
  padding: 2.5%;
}

.galleri .bilde img{
  width: 100%;
  transition: .15s;
}
.galleri .bilde img:hover{
  transform: scale(1.1);
  cursor:cell;
}

#about h1{
  position: fixed;
  z-index: 100;
}
